<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width-device-width, initial-scale-1">
    <script src="http://www.jimsproch.com/react/future/react.js"></script>
    <script src="http://www.jimsproch.com/react/future/react-dom.js"></script>
    <script src="http://www.jimsproch.com/react/babel-browser.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.16.2/axios.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react-table/6.5.3/react-table.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/react-table/6.5.3/react-table.css">
</head>
<body>
<div id="root"></div>
<script type="text/babel">
    class TableExp extends React.Component {
        constructor () {
            super();
            this.state = {
                tableData: [{
                    clientID: '',
                    clientName: '',
                }],
            };
        }
        componentDidMount () {
                var ss = `<%= clients %>`;
                var pp = JSON.stringify(ss);
                console.log(pp);
                this.setState({ tableData: [pp]});
        }
        render () {
            const { tableData } = this.state;
            return (<ReactTable.default
                            data={tableData}
                            columns={[
                                {
                                    columns: [
                                        {
                                            Header: 'Client Names',
                                            accessor: 'clientName.S',
                                        },
                                    ],
                                },
                            ]}
                            defaultPageSize={10}
                            className="-striped -highlight"
                    />
            );
        }
    };

    ReactDOM.render(<div><TableExp/></div>, document.getElementById("root"));
</script>

<div id="add"></div>
<script type="text/babel">
    class NameForm extends React.Component {
      constructor(props) {
        super(props);
        this.state = {value: ''};
        this.handleChange = this.handleChange.bind(this);
        this.handleSubmit = this.handleSubmit.bind(this);
      }

      handleChange(event) {
        this.setState({value: event.target.value});
      }
      handleSubmit(event) {
            axios.post('http://localhost:8089/clients/add_clients', {
               clientName: this.state.value,
              })
             .then(function (response) {
               console.log(response);
             })
            alert('Client name was submitted: ' + this.state.value);
            event.preventDefault();
      }

      render() {
        return (
          <form onSubmit={this.handleSubmit}>
            <br />
            <h2>Add more Clients:</h2>

            <label>
              Name:
              <input type="text" id="valueText" placeholder="Enter Client Name here" value={this.state.value} onChange={this.handleChange} />
            </label>
            <input type="submit" id= "submitBtn" value="Submit" />
          </form>
        );
      }
    };
    ReactDOM.render(<div><NameForm/></div>, document.getElementById("add"));
</script>
<br>
<script src='http://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.2.1.js'></script>
</body>
</body>
</html>







